.message {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.message-top {
  display: flex;
}

.message-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.message-text {
  padding: 10px;
  border-radius: 20px;
  background-color: #0d6efd;
  color: white;
  max-width: 300px;
}

.message.own {
  align-items: flex-end;
}

.message.own .message-text {
  background-color: rgb(241, 241, 241);
  color: black;
}