
.css-ojxokl {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  line-height: 1.5;
  --tw-text-opacity: 1;
  color: var(--text-primary);
  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  background-color: var(--background);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  border-top-width: 1px;
  padding-left: 16rem;
  padding-right: 5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.css-swaup {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  --tw-text-opacity: 1;
  color: var(--text-primary);
  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  font-size: 0.875rem;
  line-height: 1.375;
}
.css-1jmjd9m {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  --tw-text-opacity: 1;
  color: var(--text-primary);
  --tw-bg-opacity: 1;
  font-size: 0.875rem;
  line-height: 1.375;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  flex-shrink: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0px;
  width: 20%;
}

.css-1xwuxqb {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  --tw-bg-opacity: 1;
  line-height: 1.375;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  margin: 0;
  font-size: inherit;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
}
ul {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  --tw-text-opacity: 1;
  color: var(--text-primary);
  --tw-bg-opacity: 1;
  font-size: 0.875rem;
  line-height: 1.375;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  list-style: none;
  margin: 0;
  padding: 0;
}
.css-6l27w5 {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  --tw-text-opacity: 1;
  color: var(--text-primary);
  --tw-bg-opacity: 1;
  font-size: 0.875rem;
  line-height: 1.375;
  list-style: none;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  margin-bottom: 0.25rem;
}
.css-16ukx9s {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  --tw-bg-opacity: 1;
  font-size: 0.875rem;
  line-height: 1.375;
  list-style: none;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  text-decoration: inherit;
  display: block;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  border-radius: 0.5rem;
}
.css-j1vi2j {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.375;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
}

.css-fwylhz {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  --tw-bg-opacity: 1;
  font-size: 0.875rem;
  line-height: 1.375;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  margin: 0;
  width: 100%;
  margin-bottom: 0.75rem;
  text-align: center;
}
.css-3lg6qr {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  --tw-bg-opacity: 1;
  font-size: 0.875rem;
  line-height: 1.375;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  text-decoration: inherit;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  border-radius: 0.5rem;
}
.css-17b2io4 {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  line-height: 1.5;
  --tw-text-opacity: 1;
  color: var(--text-primary);

  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 0px;
}
.css-6hp4m9 {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  line-height: 1.5;
  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  text-decoration: inherit;
  --tw-text-opacity: 1;
  color: var(--text-primary);
}
.css-1irbveh {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: inherit;
  line-height: 1.5;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  color: var(--text-primary);

  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(226 232 240 / 80%);
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  vertical-align: middle;
  width: 12rem;
  fill: currentColor;
}
