.header_blog {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-top: 15px;
  font-size: 15px;
}
.blog_text {
  width: 40%;
  margin: auto;
  padding: 20px;
}
.form-group {
    padding-top: 30px;
}
.form-control {
    border: none;
}