@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.login__header {
  width: 100%;
}
.login__header-img {
  width: 200px;
  margin: auto;
}
hr {
  margin: 0;
}
.login__header-img img {
  padding-top: 15px;
  padding-bottom: 20px;
  width: 100%;
}
.textForReg {
  font-size: 21px;
  height: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-family: "Cormorant Garamond";
}
.textForRegLog{
  font-size: 33px;
  height: 40px;
  font-weight: 700;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  font-family: "Cormorant Garamond";
}
.aforLog{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.error {
  font-size: 20px;
}
.main__container {
  background-color: rgba(250, 251, 255);
  margin: auto;
}
.auth__container {
  width: 450px;
  height: 102vh;
  margin: auto;
  padding-top: 140px;
}
.form-control {
  border: none;
  margin-bottom: 40px;
  height: 70px;
  font-size: 25px;
  border-radius: 5px;
}
.form-control:focus {
  box-shadow: -1px 0px 10px 1px #0d57ff;
}
.btnPAPA {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
/* From uiverse.io by @Cornerstone-04 */
/* From uiverse.io by @satyamchaudharydev */
/* === removing default button style ===*/
.btnDENI {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
  margin-bottom: 30px;
}

/* button styling */
.btnDENI {
  --border-right: 6px;
  --text-stroke-color: rgba(0, 16, 236, 0.6);
  --animation-color: #003cff;
  --fs-size: 1.2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.btnDENI:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
/* From uiverse.io by @gagan-gv */
.spinner {
  height: 50px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #0017e4;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .spinner span {
  animation: loading6454 1.75s ease infinite;
 }
 
 .spinner span:nth-child(2) {
  animation-delay: 0.25s;
 }
 
 .spinner span:nth-child(3) {
  animation-delay: 0.5s;
 }
 
 .spinner span:nth-child(4) {
  animation-delay: 0.75s;
 }
 
 .spinner span:nth-child(5) {
  animation-delay: 1s;
 }
 
 .spinner span:nth-child(6) {
  animation-delay: 1.25s;
 }
 
 .spinner span:nth-child(7) {
  animation-delay: 1.5s;
 }
 
 @keyframes loading6454 {
  0%, 100% {
   transform: translateY(0);
  }
 
  50% {
   transform: translateY(-10px);
  }
 }